@using Beursspel.Utilities
@model List<Beursspel.Models.AdminViewModels.UserListModel>

@{
    ViewBag.Title = "Gebruikers";
    Layout = "_Layout";
}

@section style
{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.min.css"/>
    </environment>

}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Gebruikers</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="users" class="table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <td>
                            Gebruikersnaam
                        </td>
                        <td>
                            Naam
                        </td>
                        <td>
                            Waarde
                        </td>
                        <td>
                            Rollen
                        </td>
                        <td></td>
                    </tr>
                    </thead>
                    @foreach (var user in Model)
                    {
                        <tr onclick="window.location.href = '@Url.Action("Gebruiker", new {id = user.UserId})'">
                            <td>
                                @user.Username
                            </td>
                            <td>
                                @user.Naam
                            </td>
                            <td>
                                @user.HuidigeWaarde
                            </td>
                            <td>
                                @user.Rollen.Join()
                            </td>
                            <td>
                                @if (user.Rollen.Contains("Deelnemer"))
                                {
                                    <button type="button" class="remove_deelnemer bg-green btn btn-flat" data-id="@user.UserId">Deelnemer</button>
                                }
                                else
                                {
                                    <button type="button" class="grant_deelnemer btn btn-flat" data-id="@user.UserId">Deelnemer</button>
                                }

                                @if (user.Rollen.Contains("Axipr"))
                                {
                                    <button type="button" class="remove_axipr bg-blue btn btn-flat" data-id="@user.UserId">Axipr</button>
                                }
                                else
                                {
                                    <button type="button" class="grant_axipr btn btn-flat" data-id="@user.UserId">Axipr</button>
                                }

                                @if (user.Rollen.Contains("Admin"))
                                {
                                    <button type="button" class="remove_admin bg-orange btn btn-flat" data-id="@user.UserId">Admin</button>
                                }
                                else
                                {
                                    <button type="button" class="grant_admin btn btn-flat" data-id="@user.UserId">Admin</button>
                                }

                            </td>
                            <td>
                                <button type="button" class="remove_user btn btn-flat btn-danger" data-id="@user.UserId">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    @await Html.PartialAsync("_DataTableScriptsPartial")

    <script>
        $('.grant_admin').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("GrantAdmin", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });
        });
        $('.remove_admin').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("RemoveAdmin", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });
        });
        $('.grant_deelnemer').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("GrantDeelnemer", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });

        });
        $('.remove_deelnemer').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("RemoveDeelnemer", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });
        });
        $('.grant_axipr').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("GrantAxipr", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });

        });
        $('.remove_axipr').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("RemoveAxipr", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });
        });
        $('.remove_user').on('click', function (e) {
            e.stopPropagation();
            $.ajax({
                url: '@Url.Action("VerwijderGebruiker", "Admin")',
                type: "POST",
                data: {
                    data: this.dataset.id
                },
                success: function () {
                    location.reload();
                }
            });
        });

        $(function() {
            $('#users').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'language': {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });

    </script>

}
