  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVIGATIE</li>
      <li >
        <a href="@Url.Action("Index", "Home")">
          <i class="fa fa-dashboard"></i> <span>Home</span>
        </a>
      </li>
      <li >
        <a href="@Url.Action("Index", "Beurzen")">
          <i class="fa fa-line-chart"></i> <span>Beurzen</span>
        </a>
      </li>
      @if (User.IsInRole("Admin"))
      {
        <li class="header">TELMOMENTEN</li>
        <li>
          <a href="@Url.Action("Index", "TelMoment")">
            <i class="fa fa-tasks"></i> <span>Afgelopen</span>
          </a>
        </li>
        <li>
          <a href="@Url.Action("Moment", "TelMoment")">
            <i class="fa fa-plus"></i> <span>Toevoegen</span>
          </a>
        </li>
        <li>
          <a href="@Url.Action("Index", "GeplandeTelMomenten")">
            <i class="fa fa-calendar"></i> <span>Gepland</span>
          </a>
        </li>

        <li class="header">ADMIN</li>
        <li>
          <a href="@Url.Action("Index", "Admin")">
            <i class="fa fa-users"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="@Url.Action("Gebruikers", "Admin")">
            <i class="fa fa-users"></i> <span>Gebruikers</span>
          </a>
        </li>
        <li>
          <a href="@Url.Action("Beurzen", "Admin")">
            <i class="fa fa-bar-chart"></i> <span>Beurzen</span>
          </a>
        </li>
      }
    </ul>
</section>
<!-- /.sidebar -->
