@using Beursspel.Utilities
@model Beursspel.Models.BeursViewModels.BeursModel

@{
    ViewBag.Title = Model.Beurs.Naam;
    Layout = "_Layout";
}


<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Informatie</h3>
            </div>
            <div class="box-body">
                <img alt="logo" class="img-responsive center-block"/>
                <p id="beurs-omschrijving"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Beursgeschiedenis</h3>
            </div>
            <div class="box-body" style="min-height: 250px;">
                <div class="chart">
                    <canvas id="areaChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row" style="padding-right: 15px; padding-left: 15px; padding-top: 2px;">
            <div class="col-sm-12 col-lg-6">

                @{
                    var eerste = @Model.Beurs.Waardes.FirstOrDefault();
                    if (eerste != null)
                    {
                        var verschilWaardes = Model.Beurs.HuidigeWaarde - eerste.Waarde;
                        var diff = (verschilWaardes / eerste.Waarde);
                        var dagen = (int) (DateTime.Now - eerste.Tijd).TotalDays;
                        var color = diff >= 0 ? "green" : "red";
                        var icon = diff >= 0 ? "thumbs-o-up" : "thumbs-o-down";
                        <div class="info-box bg-@color">
                            <span class="info-box-icon"><i class="fa fa-@icon"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Huidige Waarde</span>
                                <span class="info-box-number">€@Model.Beurs.HuidigeWaarde.ToString("F2")</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Math.Abs(diff).ToString("P")"></div>
                                </div>
                                <span class="progress-description">
                                    @if (diff < 0)
                                    {
                                        @Math.Abs(diff).ToString("P")
                                        @:Afname in @dagen
                                        if (dagen != 1)
                                        {
                                            @:Dagen
                                        }
                                        else
                                        {
                                            @: Dag
                                        }
                                    }
                                    else
                                    {
                                        @diff.ToString("P")
                                        @:Toename in @dagen
                                        if (dagen != 1)
                                        {
                                            @:Dagen
                                        }
                                        else
                                        {
                                            @: Dag
                                        }
                                    }
                                </span>


                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    }
                }
                <div class="info-box bg-orange">
                    <span class="info-box-icon "><i class="fa fa-money"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Prijs per Aandeel</span>
                        <span class="info-box-number">€@Model.Beurs.AandeelPrijs.ToString("F2")</span>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-shopping-cart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Beschikbare Aandelen</span>
                        <span class="info-box-number">@Model.Beurs.BeschikbareAandelen</span>
                    </div>
                </div>
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-pie-chart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Jouw Aandelen</span>
                        <span class="info-box-number">@Model.Aantal</span>
                    </div>
                </div>

            </div>
        </div>
        <!-- small box -->
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Handel</h3>
            </div>
            <div class="box-body">
                @if (!GeplandeTelMomentenManager.IsMarktDicht)
                {
                    <form asp-action="KoopAandelen" class="form-inline">
                        <h4>Koop aandelen.</h4>
                        @if (ViewData.ModelState.Keys.Any(x => x == "Koopfout"))
                        {
                            @Html.ValidationSummary(false, "Koopfout", new {@class = "text-danger"})
                        }
                        <div class="form-group">
                            <input asp-for="BeursId" value="@Model.Beurs.BeursId" readonly="readonly" hidden/>
                            <label asp-for="Aantal"></label>
                            <input asp-for="Aantal" class="form-control" id="koop-aantal-input" min="1"/>
                        </div>
                        <button type="submit" class="btn btn-success">Koop</button>
                    </form>
                    <form asp-action="VerkoopAandelen" class="form-inline">
                        <h4>Verkoop aandelen.</h4>
                        @if (ViewData.ModelState.Keys.Any(x => x == "Verkoopfout"))
                        {
                            @Html.ValidationSummary(false, "Verkoopfout", new {@class = "text-danger"})
                        }
                        <div class="form-group">
                            <input asp-for="BeursId" value="@Model.Beurs.BeursId" readonly="readonly" hidden/>
                            <label asp-for="Aantal"></label>
                            <input asp-for="Aantal" class="form-control" min="1"/>
                        </div>
                        <button type="submit" class="btn btn-danger">Verkoop</button>
                    </form>
                }
                else
                {
                    <h5>Omdat er vandaag een telmoment is is de markt momenteel gesloten.</h5>
                    <h5>Vanaf morgen gaat de markt weer open!</h5>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <environment include="Development">
        <script src="lib/chart.js/chart.js"></script>
        <script src="js/beurs-chart.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="lib/chart.js/chart.min.js"></script>
        <script src="js/beurs-chart.min.js"></script>
    </environment>

    <script>
        var chartLabels = [];
        var chartData = [];
        @if (Model.Beurs.Waardes != null)
        {
            foreach (var oudeWaarde in Model.Beurs.Waardes)
            {
                @:chartLabels.push('@oudeWaarde.Tijd.Date.ToString("dd/MM")');
                @:chartData.push('@oudeWaarde.Waarde.ToString("F2")');
            }
        }

        window.onload = function() {
            window.setGebruikerGeld();
            $("#beurs-omschrijving").html(markdownify("@Model.Beurs.Omschrijving"));
            setupbeurschart(chartLabels, chartData);
            var maxAantal = Math.floor(@Model.GebruikerGeld / @Model.Beurs.AandeelPrijs);
            if (maxAantal > @Model.Beurs.BeschikbareAandelen) {
                maxAantal = @Model.Beurs.BeschikbareAandelen;
            }
            $("#koop-aantal-input").val(maxAantal);
            $("#koop-aantal-input").attr({
                "max" : maxAantal
            });
        }

    </script>

}
