@using Beursspel.Models.TelMomentModels
@model List<TelMomentHouder>

@{
    ViewBag.Title = "Telmomenten";
    Layout = "_Layout";
}

@section style
{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.min.css"/>
    </environment>

}

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Momenten</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table" id="momenten-table">
                    <thead>
                    <tr>
                        <th>Moment</th>
                        <th>Invoerder</th>
                        <th>Laatst Bewerkt</th>
                        <th>Bewerker</th>
                    </tr>
                    </thead>
                    @foreach (var moment in Model)
                    {
                        <tr onclick="window.location.href = '@Url.Action("Moment", new {id = @moment.TelMomentHouderId})'"
                            style="cursor: pointer;">
                            <td>@moment.Tijd.ToString("U")</td>
                            <td>@moment.Invoerder</td>
                            @if (moment.LaatstBewerkt != default(DateTime))
                            {
                                <td>@moment.LaatstBewerkt.ToString("U")</td>
                            }
                            <td>@moment.Bewerker</td>
                        </tr>
                    }
                </table>
                <button class="btn btn-success" onclick="window.location.href = '@Url.Action("Moment")'">
                    Toevoegen
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @await Html.PartialAsync("_DataTableScriptsPartial")
    <script>
        $(function() {
            $('#momenten-table').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'language': {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });
    </script>
}