@model HomeModel

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

@section style{
  <link rel="stylesheet" href="lib/fullCalendar/fullcalendar.min.css" />
}

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-thumbs-up"></i>

            <h3 class="box-title">Welkom!</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>
              Welkom bij het grote Axipr Beursspel! Wie wordt dit jaar de beste belegger van Demos?
              Wie zal het beste speculeren over wie er aan de bar zit? Zal Boy weer dingen slopen? We gaan het allemaal zien!
              <br/><br/>
              Via het menu aan je linkerhand (linksbovenin voor mobiele gebruikers) heb je toegang tot een lijst van beurzen.
              Je kan van deze beurzen aandelen kopen, en deze zullen over de komende twee maanden van prijs gaan veranderen.
              <br/><br/>
              De prijsveranderingen gebeurt door twee verschillende dingen. Ten eerste zullen er periodiek telmomenten plaatsvinden.
              Een overzicht van wanneer er geteld zal worden vind je hieronder. Daarnaast zullen de prijzen ook dagelijks veranderen
              door de vraag en aanbod naar een beurs. Is een beurs erg gewild, zullen de prijzen stijgen. Wilt iedereen er van af, zullen
              de prijzen dalen.
              <br/><br/>
              We wensen iedereen veel succes, en moge de beste winnen!
              <br/><br/>
              Met blauwe groet,<br/>
              Hét Dispuut Axipr
            </p>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-calendar"></i>

            <h3 class="box-title">Geplande Tellingen</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div id="planning"></div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header with-border">
        <i class="fa fa-eur"></i>

        <h3 class="box-title">Top Scores</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table">
          <thead>
          <tr>
            <th>Naam</th>
            <th>Waarde</th>
          </tr>
          </thead>
          @foreach (var speler in Model.TopScores)
          {
            <tr>
              <td>@speler.Naam</td>
              <td>@speler.Waarde.ToString("F2")</td>
            </tr>
          }
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
</div>

@section scripts{
  <script src="lib/jquery-datatables/jquery.dataTables.js"></script>
  <script src="lib/bootstrap-datatables/dataTables.bootstrap.js"></script>
  <script src="lib/moment/moment.min.js"></script>
  <script src="lib/fullCalendar/fullcalendar.min.js"></script>
  <script src='lib/fullCalendar/nl.js'></script>
  <script>
    $(document).ready(function() {
      $('#planning').fullCalendar({
        themeSystem: 'bootstrap3',
        defaultView: "listMonth",
        noEventsMessage: "Nog geen telmomenten",
        validRange: {
          start: '@DateTime.Now.ToString("yyyy-MM-dd")',
          end: '2017-12-13'
        },
        showNonCurrentDates: false,
        height: 350,
        events: [
          @foreach (var telMoment in Model.TelMomenten)
          {
            @:{title: " @telMoment.Reden", start: "@telMoment.Tijd.ToString("o")"},
          }
        ]
      });
    });
  </script>
}