@model List<TopScoreModel>

@{
    ViewBag.Title = "Top Scores";
    Layout = "_Layout";
}

@section style
{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.min.css"/>
    </environment>

}

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Gebruikers</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="users" class="table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <th>Plaats</th>
                        <th>Naam</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    @for (var index = 0; index < @Model.Count; index++)
                    {
                        var speler = @Model[index];
                        <tr>
                            <td>@(index + 1)</td>
                            <td>@speler.Naam</td>
                            <td>@speler.Waarde.ToString("F2")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @await Html.PartialAsync("_DataTableScriptsPartial")

    <script>
        $(function() {
            $('#users').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "columnDefs": [ {
                    "targets": 0,
                    "width": 40
                } ],


                'language': {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        });

    </script>
}
